[submodule "Blueprint"]
	path = Blueprint
	url = https://github.com/stupxd/Blueprint
[submodule "smods"]
	path = smods
	url = https://github.com/Steamodded/smods
[submodule "SystemClock"]
	path = SystemClock
	url = https://github.com/Breezebuilder/SystemClock
[submodule "Prism"]
	path = Prism
	url = https://github.com/blazingulag/Prism
[submodule "FlushHotkeys"]
	path = FlushHotkeys
	url = https://github.com/Agoraaa/FlushHotkeys
[submodule "SoireeMusicPack"]
	path = SoireeMusicPack
	url = https://github.com/Undercoverer/SoireeMusicPack
[submodule "Pokermon"]
	path = Pokermon
	url = https://github.com/InertSteak/Pokermon
[submodule "Redux-Arcanum"]
	path = Redux-Arcanum
	url = https://github.com/jumbocarrot0/Redux-Arcanum
[submodule "Banner"]
	path = Banner
	url = https://github.com/SylviBlossom/Banner
[submodule "Galdur"]
	path = Galdur
	url = https://github.com/Eremel/Galdur
[submodule "next-ante-preview"]
	path = next-ante-preview
	url = https://github.com/DigitalDetective47/next-ante-preview
[submodule "BalatroMultiplayer"]
	path = BalatroMultiplayer
	url = https://github.com/Balatro-Multiplayer/BalatroMultiplayer
[submodule "bunco"]
	path = bunco
	url = https://github.com/jumbocarrot0/bunco
[submodule "paperback"]
	path = paperback
	url = https://github.com/Balatro-Paperback/paperback
[submodule "CardSleeves"]
	path = CardSleeves
	url = https://github.com/larswijn/CardSleeves
[submodule "Partner-API"]
	path = Partner-API
	url = https://github.com/Icecanno/Partner-API
[submodule "Finity"]
	path = Finity
	url = https://github.com/frangnosquest/Finity
[submodule "JoyousSpring"]
	path = JoyousSpring
	url = https://github.com/nh6574/JoyousSpring
[submodule "3xCredits"]
	path = 3xCredits
	url = https://github.com/AuroraKy/3xCredits
[submodule "Maximus"]
	path = Maximus
	url = https://github.com/the-Astra/Maximus
[submodule "Rofflatro"]
	path = Rofflatro
	url = https://github.com/MamiKeRiko/Rofflatro
[submodule "Fusion-Jokers"]
	path = Fusion-Jokers
	url = https://github.com/Ratakor/Fusion-Jokers
[submodule "Virtues"]
	path = Virtues
	url = https://github.com/someone23832/Virtues
